.main {
  min-height: 100vh;
}

.itemContainer {
  /* padding: 0; */
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */

}
/* Mobile */
@media (max-width: 700px) {
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}
