.main {
  min-height: 100vh;
}

.itemContainer {
  max-width: 1020px;
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

/* Mobile */
@media (max-width: 700px) {
  .itemContainer {
    max-width: 320px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .itemContainer {
    max-width: 674px;
    }
}
